{% extends "ab.html" %}

{% block title %}
About Page
{% endblock %}

{% block nav %}
<nav>About Page Navigation</nav>
{% endblock %}

{% block content %}
<h1 class="bg-orange-500 text-3xl">Content | About Page</h1>
<p>
FarmX is an advanced farm management platform designed to enhance efficiency, profitability, and sustainability for farmers. It uses AI-powered tools for resource estimation and sends automated alerts via SMS and WhatsApp to keep farmers informed. Additionally, FarmX offers valuable insights into market prices, profit analysis, and weather forecasting, enabling data-driven decision-making for optimized agricultural operations.

Problem: Farmers face numerous challenges such as:

Unpredictable weather conditions.
Pest infestations.
Market price fluctuations. These issues can lead to significant financial losses. Traditional farming methods often lack the precision and data-driven insights needed to address these challenges effectively.
Solution: FarmX addresses these challenges by offering a suite of comprehensive tools that empower farmers to monitor and manage their crops efficiently. Key features include:

Real-time weather updates.
Crop health monitoring.
Automated alerts.
Detailed reports.
By leveraging these tools, farmers can optimize their farming practices, reduce waste, and improve profitability.


</p>
{% endblock %}

