{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="farm-container">
  {% if user.is_authenticated %}
    <!-- Form to continue to the dashboard -->
    <form action="{% url 'dashboard_index' %}" method="post" class="auth-box logout-form" style="text-align: center; margin-bottom: 20px;">
      {% csrf_token %}
      <p style="font-size: 18px; font-weight: bold; margin-bottom: 10px;">Welcome {{ user.username }} </p>
      <button type="submit" class="farm-button" style="background-color: #5a3d3d; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">Continue to Dashboard</button>
    </form>
  {% else %}
  
  <div class="logo">
    <img src="{% static 'css/images/logo.png' %}" alt="Farm Image" class="farmx-logo">
  </div>
  
  <!-- Top right links including Login and Register buttons -->
  <div class="top-right-links">
    <div class="link-item">About</div>
    <div class="link-item">Contact</div>
    <div class="link-item">Help Center</div>

    <!-- Login and Register buttons inside top-right-links -->
    <a href="{% url 'login' %}" class="farm-button">Login</a>
    <a href="{% url 'register' %}" class="farm-button">Register</a>
  </div>

  <div style="width: 619px; height: 200px; left: 10px; top: 150px; position: absolute; color:rgb(64, 159, 53); font-size: 58px; font-family: Inter ; font-weight: 1200; word-wrap: break-word">Where Technology Meets Tradition</div>
  <div style="width: 600px; height: 167px; left: 10px; top: 300px; position: absolute; color: black; font-size: 22px; font-family: Inria Sans; font-weight: 700; word-wrap: break-word">FarmX is your ultimate farming companion, integrating modern technology with traditional farming practices.Manage your inventory efficiently, receive timely WhatsApp alerts on product expiration, access accurate weather forecasts to optimize crop growth, and stay updated with market pricing to sell your products at the best rates. Empower your farming with FarmX.</div>

  {% endif %}
</div>
{% endblock %}


