{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="farm-container">
  {% if user.is_authenticated %}
  <form action="{% url 'dashboard_index' %}" method="post" class="auth-box logout-form">
    {% csrf_token %}
    <p>Welcome {{user.username}} to the Dashboard</p>
    <button type="submit" class="farm-button">Continue to Dashboard</button>
  </form>
  {% else %}
    <div class="auth-box guest-welcome">
      <p>Welcome, new user. Please log in.</p>
      <div class="auth-buttons">
        <a href="{% url 'login' %}" class="farm-button">Login</a>
        <span class="separator">or</span>
        <a href="{% url 'register' %}" class="farm-button">Register</a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
