<aside>
    <div class="top">
        <div class="logo">
            <a href="{% url 'dashboard:dashboard_index' %}">
                <h2><span class="danger">FarmX</span></h2>
            </a>
        </div>
        <div class="close">
            <span class="material-symbols-sharp">close</span>
        </div>
    </div>
    <div class="sidebar">
        <a href="{% url 'dashboard:dashboard_index' %}" class="{% if request.resolver_match.url_name == 'dashboard:dashboard_index' %}active{% endif %}">
            <span class="material-symbols-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="{% url 'resources:resource_estimation' %}" class="{% if request.resolver_match.url_name == 'resources:resource_estimation' %}active{% endif %}">
            <span class="material-symbols-sharp">analytics</span>
            <h3>Resource Estimation</h3>
        </a>
        
        <a href="{% url 'weather_forecast' %}" class="{% if request.resolver_match.url_name == 'weather_forecast' %}active{% endif %}">
            <span class="material-symbols-sharp">cloud</span>
            <h3>Weather Forecast</h3>
        </a>
        
        <a href="{% url 'inventory_report' %}" class="{% if request.resolver_match.url_name == 'inventory_report' or request.resolver_match.url_name == 'add_product' %}active{% endif %}">
            <span class="material-symbols-sharp">inventory</span>
            <h3>Inventory Management</h3>
        </a>
        <a href="{% url 'crop_analysis' %}" class="{% if request.resolver_match.url_name == 'crop_analysis' %}active{% endif %}">
            <span class="material-symbols-sharp">search_insights</span>
            <h3>Market Insights</h3>
        </a>
        <a href="{% url 'out_of_stock' %}" class="{% if request.resolver_match.url_name == 'out_of_stock' %}active{% endif %}">
            <span class="material-symbols-sharp">inventory_2</span>
            <h3>Out Of Stock</h3>
        </a>
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            <span class="material-icons">inventory_2</span> <!-- Use 'eco' for the leaf icon -->
            <h3>Crop Disease Detection</h3>
        </a>
        
        <a href="#">
            <span class="material-symbols-sharp">Monitoring</span>
            <h3>Analysis</h3>
        </a>
        <a href="#" onclick="document.getElementById('logout-form').submit();">
            <span class="material-symbols-sharp">logout</span>
            <h3>Logout</h3>
        </a>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    </div>
</aside>

