{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <h2><span class="danger">FarmX</span></h2>
                </div>
                <div class="close">
                    <span class="material-symbols-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-symbols-sharp">dashboard</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">analytics</span>
                    <h3>Resource Estimation</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">cloud</span>
                    <h3>Weather Forecast</h3>
                </a>
                <a href="{% url 'inventory_report' %}">
                    <span class="material-symbols-sharp">inventory</span>
                    <h3>Inventory Management</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">search_insights</span>
                    <h3>Market Insights</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">Inventory_2</span>
                    <h3>Out Of Stock</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">Monitoring</span>
                    <h3>Analysis</h3>
                </a>
                <a href="#" onclick="document.getElementById('logout-form').submit();">
                    <span class="material-symbols-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>                
            </div>
        </aside>
        <main>
            <div class="insights">
                <div class="sales">
                    <span class="material-symbols-sharp">trending_up</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Sales</h3>
                            <h1>65,045</h1>
                        </div>
                    </div>
                    <small>last 24 hours</small>
                </div>
                <div class="count">
                    <span class="material-symbols-sharp">inventory_2</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Inventory</h3>
                            <h1>65,045</h1>
                        </div>
                    </div>
                    <small>last 24 hours</small>
                </div>
                <div class="nostock">
                    <span class="material-symbols-sharp">bar_chart_4_bars</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Out-Of-Stock Items</h3>
                            <h1>65,045</h1>
                        </div>
                    </div>
                    <small>last 24 hours</small>
                </div>
                <div class="lowstock">
                    <span class="material-symbols-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Low Stock Items</h3>
                            <h1>65,045</h1>
                        </div>
                    </div>
                    <small>last 24 hours</small>
                </div>
            </div>
            <div class="insights-tall">
                <div class="wheat">
                    <span class="material-symbols-sharp">grass</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Wheat Production</h3>
                            <h1>2,540 tons</h1>
                        </div>
                    </div>
                    <small>Current Season</small>
                </div>
                <div class="rice">
                    <span class="material-symbols-sharp">grass</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Rice Production</h3>
                            <h1>3,120 tons</h1>
                        </div>
                    </div>
                    <small>Current Season</small>
                </div>
                <div class="corn">
                    <span class="material-symbols-sharp">grass</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Corn Production</h3>
                            <h1>1,845 tons</h1>
                        </div>
                    </div>
                    <small>Current Season</small>
                </div>
                <div class="jowar">
                    <span class="material-symbols-sharp">grass</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Jowar Production</h3>
                            <h1>980 tons</h1>
                        </div>
                    </div>
                    <small>Current Season</small>
                </div>
            </div>
        </main>
    </div> 
    <script src="dashboard.js"></script>
</body>
</html>
