{% extends 'extend.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
{% endblock %}

{% block content %}
<div class="insights">
    <div class="sales">
        <span class="material-symbols-sharp">trending_up</span>
        <div class="middle">
            <div class="left">
                <h3>Total Sales</h3>
                <h1>28,450</h1>
            </div>
        </div>
        <small>last 24 hours</small>
    </div>
    <div class="count">
        <span class="material-symbols-sharp">inventory_2</span>
        <div class="middle">
            <div class="left">
                <h3>Total Inventory</h3>
                <h1>75,320</h1>
            </div>
        </div>
        <small>last 24 hours</small>
    </div>
    <div class="nostock">
        <span class="material-symbols-sharp">bar_chart_4_bars</span>
        <div class="middle">
            <div class="left">
                <h3>Out-Of-Stock Items</h3>
                <h1>1,530</h1>
            </div>
        </div>
        <small>last 24 hours</small>
    </div>
    <div class="lowstock">
        <span class="material-symbols-sharp">bar_chart</span>
        <div class="middle">
            <div class="left">
                <h3>Low Stock Items</h3>
                <h1>4,820</h1>
            </div>
        </div>
        <small>last 24 hours</small>
    </div>
</div>
<div class="insights-tall">
    <div class="wheat">
        <span class="material-symbols-sharp">grass</span>
        <div class="middle">
            <div class="left">
                <h3>Wheat Production</h3>
                <h1>3,150 tons</h1>
            </div>
        </div>
        <small>Current Season</small>
    </div>
    <div class="rice">
        <span class="material-symbols-sharp">grass</span>
        <div class="middle">
            <div class="left">
                <h3>Rice Production</h3>
                <h1>4,200 tons</h1>
            </div>
        </div>
        <small>Current Season</small>
    </div>
    <div class="corn">
        <span class="material-symbols-sharp">grass</span>
        <div class="middle">
            <div class="left">
                <h3>Corn Production</h3>
                <h1>2,300 tons</h1>
            </div>
        </div>
        <small>Current Season</small>
    </div>
    <div class="jowar">
        <span class="material-symbols-sharp">grass</span>
        <div class="middle">
            <div class="left">
                <h3>Jowar Production</h3>
                <h1>1,050 tons</h1>
            </div>
        </div>
        <small>Current Season</small>
    </div>
</div>
{% endblock %}
