{% extends "index.html" %}

{% block title %}Inventory Report{% endblock %}

{% block nav %}
<h3>Inventory Report Navigation</h3>
{% endblock %}

{% block content %}
<h1>Inventory Report</h1>
<div class="inventory-cards">
    {% for product in products %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">{{ product.name }}</h2>
            <p class="card-text">Price: {{ product.price }}</p>
            <p class="card-text">Quantity: {{ product.quantity }}</p>
            <p class="card-text">Category: {{ product.category.name }}</p>
            <a href="{% url 'delete_product' product.pk %}" class="card-link">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'add_product' %}">Add a New Product</a>
{% endblock %}
