@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: 0;
   list-style: none;
   appearance: none;
}

body {
   font-family: 'Poppins',Arial, sans-serif;
   background-color: var(--clr-color-background);
   margin: 0;
   padding: 0;
}  

.form-container {
   margin: 2rem auto;
   background-color: #fff;
   padding: 2rem;
   border-radius: 15px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 600px;
   max-width: 90%;
}

h1 {
   text-align: center;
   color: #333;
   margin-bottom: 0.5rem;
}

.form-group {
   margin-bottom: 1rem;
}

label {
   display: block;
   margin-bottom: 0.5rem;
   color: #333;
}

input[type="text"],
input[type="file"],
input[type="number"],
input[type="date"],
select {
   width: 100%;
   padding: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 5px;
}

button {
   width: 100%;
   padding: 0.5rem;
   background-color: #28a745;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

button:hover {
   background-color: #218838;
}

.form-container a {
   display: inline-block;
   margin-top: 1rem;
   padding: 0.5rem 1rem;
   background-color: var(--clr-primary);
   color: white;
   border-radius: 5px;
   text-decoration: none;
}

.form-container a:hover {
   background-color: var(--clr-primary-variant);
}
