html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('images/FARMM.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-container {
  width: 400px;
  background-color: rgba(244, 241, 241, 0.193);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 10;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container h1 {
  font-size: 32px;
  color: #4CAF50; 
  margin-bottom: 20px;
  font-weight: 600;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container input,
.login-container select,
.login-container textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #4CAF50; 
  background-color: #f1f1f1; 
  border-radius: 8px;
  transition: all 0.3s ease;
  color: #666; 
  outline: none; 
  box-shadow: none; 
}

.login-container input::placeholder {
  color: #aaa; 
  font-style: italic;
}

.login-container input:focus,
.login-container select:focus,
.login-container textarea:focus {
  border-color: #8B4513; 
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.login-container button {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  background-color: #8B4513; 
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in, transform 0.2s ease;
}

.login-container button:hover {
  background-color: #6A2E1A; 
  transform: translateY(-3px); 
}

.login-container a {
  margin-top: 10px;
  font-size: 14px;
  color: #bfff9f; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.login-container a:hover {
  color: #4CAF50;
}

.login-container .forgot-password {
  font-size: 12px;
  color: #6A2E1A; 
  margin-top: 5px;
}

.login-container .forgot-password:hover {
  color: #4CAF50;
}
