html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom, rgba(72, 54, 54, 0.8), rgba(59, 40, 40, 0.8)), url('/static/images/farm.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.farm-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 2rem;
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px;
    text-align: center;
    position: relative;
}

.farm-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    z-index: 1;
}

.farm-container > * {
    position: relative;
    z-index: 2;
}

.auth-box {
    margin-bottom: 20px;
}

.auth-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.auth-buttons .farm-button {
    flex: 1;
    margin: 0 0.5rem;
    padding: 15px 20px;
    font-size: 18px;
    background-color: #5d4848;
    border: none;
    color: #ddd5d5;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in, transform 0.3s ease-in;
}

.auth-buttons .farm-button:hover {
    background-color: #3e2e2e;
    transform: scale(1.05);
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    color: #5d4848;
    font-weight: bold;
}

form {
    background-color: white;
    border-radius: 5%;
    padding: 2rem;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    max-width: fit-content;
    margin: 0 auto;
}
form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: rgb(93, 72, 72);
    border: none;
    color: rgb(221, 213, 213);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

form button:hover {
    background-color: brown;
}

form .errorlist li {
    list-style-type: none;
    color:red;
}
