.button {
    width: 219px;
    height: 54px;
    opacity: 0.90;
    background: #745643;
    border: none;
    border-radius: 50px;
    color: #FAF6F6;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(4px);
    position: absolute;
}
